<!DOCTYPE html>

<html>
    <head>
        <title>CS 253 Blog</title>
    </head>

    <style type="text/css">
    	body {
    		font-family: sans-serif;
    		width: 800px;
    		margin: 0 auto;
    		padding: 10px
    	}

        .skills {
            width: 50px;
            padding: 10px;
            border: 1px;
            margin: 10px;
            background: gray
        }


    </style>



    <body>
            <p class="skills">SQL</p>
            <p class="skills">Python</p>
        </li>      
    
    </body>
</html>
